body {
    background: linear-gradient(to bottom, #66ccff 12%, #ffffcc 71%);
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 4px double black;
}


#story {
     font-size: 22;
     font-style: oblique;
     text-decoration: underline;
     color: yellow;
}

h1 {
    color: hotpink;
}

p {
    font-size: 18px;
    font-family: verdana;
    color: blueviolet;
}

img {
    border: 8px groove blueviolet;
}

.pic {
    border: 4px solid black;
}

h2 {
    color: limegreen;
}